<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<!-- 관리자 로그인 체크 -->
	<select id="adminlogin" resultType="String">
		SELECT userName
		FROM tbl_admin
		WHERE userId=#{userId} AND userPw=#{userPw}
	</select>

</mapper>