<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 장바구니 관련 mapper -->
<mapper namespace="cart">

	<!-- 1. 장바구니 추가 -->
	<insert id="insertCart">
		<!-- INSERT INTO tbl_cart(
			product_id, amount
		)VALUES(
			#{product_id}, #{amount}
		) -->
		INSERT INTO tbl_cart(userId, product_id, amount) VALUES (
			#{userId}, #{product_id}, #{amount}
		)
	</insert>

	<!-- 2. 장바구니 목록 -->
	<select id="selectCart" resultType="com.p.project.DTO.CartDTO">
		<!-- SELECT c.cart_id AS cartId, c.user_id AS userId, c.product_id AS productId, 
			m.userName, p.product_name AS productName, c.amount, 
			p.product_price AS productPrice, (product_price * amount) money
		FROM tbl_member m, tbl_product p, tbl_cart c
		WHERE m.userId = c.user_id
			AND p.product_id=c.product_id AND c.user_id = #{user_id}
		ORDER BY c.cart_id -->
		
		SELECT c.cartId, c.userId, p.product_id, m.userName, p.product_name, c.amount, 
			   p.product_price, (product_price * amount) money
		FROM tbl_member m, tbl_product p, tbl_cart c
		WHERE m.userId = c.userId
			AND p.product_id=c.product_id
			AND c.userId = #{userId}
		ORDER BY c.cartId	
	</select>
	
	<!-- 3. 장바구니 전체 금액 Oracle NVL(필드, 처리할 값), MySQL ifnull(필드, 처리할 값) : NULL 처리를 담당하는 함수-->
	<!-- SELECT IFNULL(필드명, "대체할 값") FROM 테이블명;
		IFNULL은 해당 필드의 값이 NULL을 반환할 때 다른 값으로 출력할 수 있도록 하는 함수이다.
		아래 쿼리문은 price*amount 값이 NULL일 경우 0을 반환한다-->
	<select id="sumMoney" resultType="int">
		SELECT IFNULL(SUM(product_price * amount), 0) money
		FROM tbl_cart c, tbl_product p
		WHERE c.product_id = p.product_id AND c.userId=#{userId}
	</select>
	
	<!-- 4. 장바구니 화면에서 상품 수량 변경할 때(덮어쓰기) -->
	<update id="updateCart">
		UPDATE tbl_cart SET amount=#{amount}
		WHERE userId = #{userId}
		AND product_id=#{product_id}
	</update>
	
	<!-- 5. 장바구니 삭제 -->
	<delete id="deleteCart">
		DELETE FROM tbl_cart
		WHERE cartId=#{cartId}
	</delete>
	
	<!-- 6. 장바구니에 동일한 상품이 있는지 확인. select count -->
	<select id="countCart" resultType="int">
		SELECT COUNT(*) FROM tbl_cart
		WHERE userId=#{userId}
		AND product_id=#{product_id}
	</select>
	
	<!-- 7. 장바구니에 동일한 상품이 존재하면 합산하여 수정(수량 합산) -->
	<update id="updateCartNum">
		UPDATE tbl_cart SET amount=#{amount}
		WHERE userId=#{userId}
		AND product_id=#{product_id}
	</update>
</mapper>