<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임 스페이스 기재-->
<mapper namespace="member2">
	
	<!-- 로그인 -->
	<select id="login" resultType="com.p.project.VO.MemberVO">
		SELECT * FROM tbl_member2 WHERE userId=#{userId} AND userPw=#{userPw}
	</select>
	
	<!-- 회원 목록 -->
	<select id="memberList" resultType="com.p.project.VO.MemberVO">
<!-- 		SELECT user_id AS userId,
		user_name AS userName,
		user_regdate AS userRegdate FROM tbl_member2
		ORDER BY userName -->
		SELECT * FROM tbl_member2 order by userRegdate desc
	</select>
	
	<!-- 회원 등록 -->
	<insert id="insertMember">
		INSERT INTO tbl_member2 (userId, userPw, userName) 
		VALUES (#{userId},#{userPw},#{userName})
	</insert>
	
	<!-- 회원정보 조회 -->
	<select id="viewMember" resultType="com.p.project.VO.MemberVO">
		SELECT * FROM tbl_member2
		WHERE userId=#{userId}
	</select>
	
	<!-- 회원 : 정보 수정 -->
	<update id="updateMember">
		UPDATE tbl_member2
		SET userPw=#{userPw}, userName=#{userName}
		WHERE userId=#{userId}
	</update>
	
	<!-- /회원 : 회원 삭제 -->
	<delete id="deleteMember">
		DELETE FROM tbl_member2 WHERE userId=#{userId}
	</delete>
	
	<!-- 비밀번호 체크 -->
	<select id="checkPw" resultType="int">
		SELECT COUNT(*) FROM tbl_member2
		WHERE userId=#{userId} AND userPw=#{userPw}
	</select>
	
	<!-- 인터셉터로 로그인 확인 -->
	<!-- <select id="loginCheck" resultType="String">
		SELECT userId FROM tbl_member2
		WHERE userId=#{userId} AND userPw=#{userPw}
	</select> -->
	
	<!-- 관리자 : 회원 정보 수정 -->
	<update id="adminUpdate">
		update tbl_member2 set userPw=#{}, userName=#{}
		where userId=#{}
	</update>
	
	<!-- 관리자 : 회원 탈퇴 -->
	<delete id="adminDelete">
		delete from tbl_member2
		where userId=#{userId}
	</delete>
</mapper>